body{
    background-color: burlywood;
}
main{
    margin-left: 5%;
    margin-right: 5%;
}
#heading{
    text-align: center;
    font-family: 'Baloo 2', sans-serif;
    font-weight: 1000;
    margin-top: 3em;
}
#score ul{
    font-family: sans-serif;
}

p{
    font-family: 'Baloo', sans-serif;
    height: 1em;
}
a{
  font-family:Arial, Helvetica, sans-serif;
  color: #000;
}


#playground{
    
    display: flex;
    border: 0.5em solid burlywood;
    height: fit-content;
    align-items: center;
    flex-direction: row;
    margin-top: 1em;
    margin-bottom: 1%;
    
}
.pics{
    position: relative;
    flex-shrink: 1;
    border: solid wheat 0.5em;
}

.pics img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#buttons{
    display: flex;
    justify-content: center;
    
}
.btn {
    flex:1;
    padding: 1em;
    margin: 1em;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
  }
  .btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  /* glow */
  .btn::before {
    content: "";
    background: linear-gradient(
      45deg,
      #FF0000, #FF7300, #FFFB00, #48FF00,
      #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
  }
  
  @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }
  
  /* hover */
  .btn:hover::before {
    opacity: 1;
  }
  
  .btn:active:after {
    background: transparent;
  }
  
  .btn:active {
    color: #000;
    font-weight: bold;
  }


strong{
    margin-top: 2em;
    font-family: 'Baloo 2', sans-serif;
    font-size: larger;
  
}

#score .points{
    margin-left: 0.2em;
    margin-right: 0.2em;
    
}

#wrapper{
    display: flex;
    align-items: center;
    gap: 1em;
    flex-direction: column;
    align-items: start;
}

#winner{
    min-height: 3em;
    font-size: medium;
}

